section.about-us(style='background-image: url(\'assets/frontend/img/about-us-cover.png\');')
	.container-fluid
		.text-block.align--center
			h2.about-us__title.
				#{lang.about.title}
			.about-us__article.
				#{lang.about.article}
