section.about-us(style='background-image: url(\'assets/frontend/img/about-us-cover.png\');')
	.container-fluid
		.text-block.align--center
			h2.about-us__title.
				O nás
			.about-us__article.
				 Bizzapp je komplexní obchodní CRM nástroj, kde budete mít všechny obchodní příležitosti uvnitř Vaší společnsoti jako na dlani. Detailní přehled a řízení veškerých obchodních příležitostí od prvního kontaktu - až po úspěšné uzavření obchodu, to je to, co dělá z Bizzapp zásadního partnera pro maximální růst vašich týmů a tím i celé společnosti. Jednoduše a přitom efektivně.
