section.contact(style='background-image: url(\'assets/frontend/img/contact-cover.png\');')
	.container
		h2.contact__title.progressiveAnim.
			Buďme efektivní, buďme výkonní, buďme bizzi.
		.contact__form.progressiveAnim
			form(action='DAVID_SEM_PLS')
				input(type='text', placeholder='Jméno a příjmení').contact__input
				input(type='email', placeholder='E-mailová adresa').contact__input
				button(type='submit' value='submit').contact__button.
					Chci vědět více
		.progressiveAnim.align--center
			.contact__contact-us.
				Nebo kontaktujte zde:
			a(href='mailto:bizziapp@temify.com').contact__email.
				bizziapp@temify.com
		img(src='assets/frontend/img/person.png', alt='person', width='449px', height='469px').contact__picture.fadeInRight
