header.header--product
	.container.header--container-product
	.container.header__text
			.col-xs-12
				.header__lang-wrap
					a(href='#').header__lang.
						cz
					.header__line
					a(href='#').header__lang.active.
						EN
				.header__wrap
					.header__logo
						a(href='/', title='bizZiapp home')
							img(src='assets/frontend/img/logo.png', alt='logo', width='113px', height='28px')
					.header__login-wrap
						a(href='/product.html', title='Product').header__product-link.
							produkt
						a(href='http://demo.bizziapp.com/', title='Log in').header__login.
							přihlásit

			.col-xs-12
				.text-block
					h1.header__title.fadeIn.
						Dokonalé zázemí pro obchodníky
				.header__tablet.fadeIn
					img(src='assets/frontend/img/tablet.png', alt='tablet', style='width: 100%; max-width: 497px; margin: 0 auto;')
