header.header.product
	.header__layer
	.container(style='background-image: url(\'assets/frontend/img/header__product.png\');')
		.header__layer
		.header__lang
			a(href='#').header__lang_cz.
				cz
			.header__line
			a(href='#').header__lang_en.
				EN
		.header__login-wrap.header__login-wrap--product
			a(href='#').header__product.
				produkt
			button.header__login.
				přihlásit
		h1.header__title.
			Dokonalé zázemí pro obchodníky
		.header__tablet
			img(src='assets/frontend/img/tablet.png', alt='tablet', width='100%', height='auto')
		img.header__slide-up(src='assets/frontend/img/arrow.png', alt='arrow up', width='27px', height='27px')