section.progress
	.container
		.progress__col
			.progress__pic.progressiveAnim
					img(src='assets/frontend/img/automatizace.png', alt='#{lang.progress.article1.imageAlt}', width='155px', height='153px')
			.progress__content.progressiveAnim
				.progress__order.
					1
				h3.progress__title
					lang.progress.article1.title
				.progress__text
					lang.progress.article1.text
		.progress__col
			.progress__pic.progressiveAnim
					img(src='assets/frontend/img/customizace.png', alt='#{lang.progress.article2.imageAlt}', width='155px', height='153px')
			.progress__content.progressiveAnim
				.progress__order.
					2
				h3.progress__title
					lang.progress.article2.title
				.progress__text
					lang.progress.article2.text
		.progress__col
			.progress__pic.progressiveAnim
					img(src='assets/frontend/img/reporting.png', alt='#{lang.progress.article3.imageAlt}', width='155px', height='153px')
			.progress__content.progressiveAnim
				.progress__order.
					3
				h3.progress__title
					lang.progress.article3.title
				.progress__text
					lang.progress.article3.text
