extends includes/head

block body
  body

    include includes/header
    include includes/sections/header__product
    include includes/sections/overview
    include includes/sections/about-us
    include includes/sections/progress
    include includes/sections/contact
    include includes/footer