extends includes/head

block body
  body

    include includes/header
    include includes/header__product
    include includes/overview
    include includes/about-us
    include includes/progress
    include includes/contact
    include includes/footer