- var lang = en

doctype html
html

	include includes/head

	body

		include includes/sections/header__product
		include includes/sections/overview
		include includes/sections/about-us
		include includes/sections/progress
		include includes/sections/contact
		include includes/footer

		script(src='assets/frontend/js/app.js')