.about-us
	width 100%
	background-size cover
	background-position 10% 0
	background-color $color-about-us-bg
	padding-top 70px
	padding-bottom 84px

	.container
		min-height 435px
		align-items center

	&__title
		font-weight $weight-bold
		font-size 58px
		color white
		margin-top 0
		margin-bottom 20px

	&__article
		max-width 771px
		width 100%
		font-weight $weight-light
		font-size 15px
		color white
		line-height 28px
		text-align center
		margin 0 auto

		@media $screen-sm-max
			padding 0 15px
