.overview
  padding-top 56px
  max-width 1440px
  margin 0 auto

  &__row
    display flex
    flex-direction row
    justify-content space-between
    align-items center
    min-height 405px
    margin-bottom 70px

    @media $screen-xs-max
      flex-direction column
      padding 0 30px

      &-reverse
        flex-direction column-reverse

  &__article
    max-width 400px
    width 100%
    margin 0 135px

    @media $screen-md-max
      margin 0 50px

    @media  $screen-xs-max
      margin 0 0 80px

      .overview__title, .overview__text
        text-align center

  &__title
    font-weight $weight-bold
    font-size 30px
    color $color-font-title

  &__text
    font-weight $weight-light
    font-size 15px
    color $color-font-article
    line-height 21px

  &__pic
    max-width 704px
    max-height 405px
