.progress
  padding-top 111px

  .container
    flex-flow row wrap
    justify-content center

  &__col
    display flex
    flex-direction column
    align-items center
    margin 0 42px 111px

    @media $screen-xs-max
      max-width 400px
      width 100%
      margin 0 0 111px
      padding 0 15px

  &__order
    font-size 20px
    font-weight $weight-light
    color $color-font-title
    margin 15px 0
    position relative

  &__order::after
    content ''
    width 285px
    height 1px
    background-color $color-font-article
    position absolute
    top 10px
    right -335px

    @media $screen-md-max
      visibility hidden

  &__order.progress__order--last::after
    visibility hidden

  &__title
    font-size 30px
    font-weight $weight-bold
    color $color-font-title
    margin-top 0
    margin-bottom 30px

  &__text
    max-width 315px
    width 100%
    font-weight $weight-light
    font-size 15px
    line-height 28px
    text-align center
    color $color-font-article
