section.contact
	.container
		h2.contact__title.
			Buďme efektivní, buďme výkonní, buďme bizzi.
		.contact__form
			input(type='text', placeholder='Jméno a příjmení').contact__input
			input(type='email', placeholder='tomas.stanislavsky@liffstudj').contact__input
		button(type='submit' value='submit').contact__button.
			Chci vědět více
		.contact__contact-us.
			Nebo kontaktujte zde:
		a(href='mailto:bizziapp@temify.com').contact__email.
			bizziapp@temify.com
		picture
			source(media='(min-width: 1920px)' srcset='assets/frontend/img/person-3x.png')
			source(media='(min-width: 1200px)' srcset='assets/frontend/img/person-2x.png')
			source(media='(min-width: 768px)' srcset='assets/frontend/img/person-1x.png')
			img(src='assets/frontend/img/person-0.5x.png', alt='person', width='449px', height='469px')