footer.footer#footer
	.container
		.row
			.footer__col.col-xs-12.col-sm-4.col-md-3
				.footer__logo
					img(src='assets/frontend/img/logo.png', alt='logo', width='113px', height='28px')
				a(href='/terms-cz.pdf').footer__link.
					Terms and Conditions
			.footer__col.col-xs-12.col-sm-4.col-md-3
				a(href='mailto:bizziapp@temify.com').footer__link.
					E-mail: bizziapp@temify.com<br>
				a(href='tel:+420232232262').footer__link.
					Tel.: +420 232 232 262
			.footer__col.col-xs-12.col-sm-4.col-md-3
				address.footer__address.
					Temify consulting, s.r.o.<br>
					Kolbenova 882/5a<br>
					190 00 Prague
