doctype html
html
  head
    // Web title
    title Bizzi

    // All favicon formats

    // Basic meta tags
    meta(name='mobile-web-app-title', content='Bizzi')
    meta(name='application-name', content='Bizzi')
    meta(name='viewport', content='width=device-width, user-scalable=yes, minimum-scale=1.0, maximum-scale=1.5')
    meta(charset='utf-8')

    // CSS file
    link(rel='stylesheet', href='assets/frontend/css/main.css')

    // SEO, Open graph
    meta(name='description', content='Firemní nástroj pro sledování týmové práce budování vztahů s vašimi klienty.')
    meta(property='og:description', content='Firemní nástroj pro sledování týmové práce budování vztahů s vašimi klienty.')
    meta(property='og:title', content='Dokonalé zázemí pro obchodníky')
    meta(property='og:site_name', content='Bizzi')
    meta(property='og:locale', content='cz')
    meta(property='og:type', content='website')

  block body
