doctype html
html
  head
    // Web title
    title Blackzero.co - Your digital partner

    // All favicon formats
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/manifest.json')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#07020D')

    // Basic meta tags
    meta(name='apple-mobile-web-app-title', content='blackzero.co')
    meta(name='application-name', content='blackzero.co')
    meta(name='viewport', content='width=device-width, user-scalable=yes, minimum-scale=1.0, maximum-scale=1.5')
    meta(charset='utf-8')

    // CSS file
    link(rel='stylesheet', href='assets/frontend/css/main.css')

    // SEO, Open graph
    meta(name='description', content='Blackzero.co is a young, innovative company constisting of young people driven by the thrill of conquering the world of digital marketing.')
    meta(property='og:site_name', content='Blackzero.co')
    meta(property='og:locale', content='en_US')
    meta(property='og:image', content='https://www.blackzero.co/fb-share.png')

  block body
