header.header
	.container
		.header__lang
			a(href='#').header__lang_cz.
				cz
			a(href='#').header__lang_en.
				EN
		.header__login-wrap
			a(href='#').header__product.
				produkt
			button.header__login.
				přihlásit
		h1.header__title.
			Dokonalé zázemí pro obchodníky
		.header__tablet
			picture
				source(media='(min-width: 1920px)' srcset='assets/frontend/img/tablet-3x.png')
				source(media='(min-width: 1200px)' srcset='assets/frontend/img/tablet-2x.png')
				source(media='(min-width: 768px)' srcset='assets/frontend/img/tablet-1x.png')
				img(src='assets/frontend/img/tablet-0.5x.png', alt='tablet', width='663px', height='323px')
		.header__slide-up