header.header(style='background-image: url(\'assets/frontend/img/header-background.svg\');')
	.container
			.col-xs-12
				.header__lang-wrap
					a(href='#').header__lang.
						cz
					.header__line
					a(href='#').header__lang.active.
						EN
				.header__wrap
					.header__logo
						a(href='/', title='bizZiapp home')
							img(src='assets/frontend/img/logo.png', alt='logo', width='113px', height='28px')
					.header__login-wrap
						a(href='/product.html', title='Product').header__product-link.
							produkt
						a(href='http://demo.bizziapp.com/', title='Log in').header__login.
							přihlásit

			.col-xs-12.col-md-7
				.text-block
					h1.header__title.
						Dokonalé zázemí pro obchodníky
					.header__description.
						Firemní nástroj pro sledování týmové práce a budování vztahů s vašimi klienty.
					.header__subscription
						form(action='https://bizziapp.us17.list-manage.com/subscribe/post?u=9e52db3f58c43c9ac069d2d38&amp;id=ba8211c81f', target='_blank', method='POST', novalidate)
							input(placeholder='E-mail', name='EMAIL', type='email').header__email
							input(type='hidden', name='b_9e52db3f58c43c9ac069d2d38_ba8211c81f', tabindex='-1', value='')
							button(type='submit' value='submit').header__send.
								Odeslat
