nav(role='navigation').navigation
  .container
    .row
      .col-xs-12
        .navigation__container
          .navigation__brand
            a(href='https://www.blackzero.co/', title='Blackzero').navigation__brand-logo
              .hidden Blackzero
              img(src='assets/frontend/img/logo-white.svg').navigation__brand-img
          .navigation__menu-toggle
            button.navigation__menu-button
              span.navigation__icon-bar
              span.navigation__icon-bar
              span.navigation__icon-bar

        .navigation__menu.menu
          .menu__wrapper
            .menu__container
              ul.menu__list.list
                li.menu__list-item
                  a.text--menu.menu__list-link(href='#', title='About us').
                    About us
                li.menu__list-item
                  a.text--menu.menu__list-link(href='#', title='Portfolio').
                    Portfolio
                li.menu__list-item
                  a.text--menu.menu__list-link(href='#', title='Services').
                    Services
                li.menu__list-item
                  a.text--menu.menu__list-link(href='#', title='Career').
                    Career
                li.menu__list-item
                  a.text--menu.menu__list-link(href='#', title='Contact').
                    Contact
