section.progress
	.container
		.progress__col
			.progress__pic
				picture
					source(media='(min-width: 1920px)' srcset='assets/frontend/img/gears-3x.png')
					source(media='(min-width: 1200px)' srcset='assets/frontend/img/gears-2x.png')
					source(media='(min-width: 768px)' srcset='assets/frontend/img/gears-1x.png')
					img(src='assets/frontend/img/gears-0.5x.png', alt='automatizace', width='155px', height='153px')
			.progress__order.
				1
			h3.progress__title.
				Automatizace
			.progress__text.
				Nedělejte nic, co za Vás může udělat stroj.
				Naše automatizace na mnoha úrovních v
				celém Bizziapp Vás zbaví zdlouhavých,
				mechanických úloh. Zbyde Vám tak čas
				na to, na čem v byznysu opravdu záleží.
		.progress__col
			.progress__pic
				picture
					source(media='(min-width: 1920px)' srcset='assets/frontend/img/customizace-3x.png')
					source(media='(min-width: 1200px)' srcset='assets/frontend/img/customizace-2x.png')
					source(media='(min-width: 768px)' srcset='assets/frontend/img/customizace-1x.png')
					img(src='assets/frontend/img/customizace-0.5x.png', alt='customizace', width='155px', height='153px')
			.progress__order.
				2
			h3.progress__title.
				Customizace
			.progress__text.
				Chápeme, že každá společnost je jiná.
				Proto připravujeme naše CRM systémy
				vždy přesně na míru a skutečně jen pro
				Vás. Díky přizpůsobení individuálním
				podmínkám, požadavkům i vytyčeným
				cílům je Bizziapp neocenitelným
				pracovním nástrojem.
		.progress__col
			.progress__pic
				picture
					source(media='(min-width: 1920px)' srcset='assets/frontend/img/reporting-3x.png')
					source(media='(min-width: 1200px)' srcset='assets/frontend/img/reporting-2x.png')
					source(media='(min-width: 768px)' srcset='assets/frontend/img/reporting-1x.png')
					img(src='assets/frontend/img/reporting-0.5x.png', alt='reporting', width='155px', height='153px')
			.progress__order.
				3
			h3.progress__title.
				Reporting
			.progress__text.
				Nemarněte čas tam, kde není hodnota.
				Díky analýze efektivity a následnému
				reportu pracujete s daty, která pro Vás
				mají význam. Biziapp to dokáže, protože
				je přesně přizpůsoben tomu, co je pro Vás
				důležité.