// Import Monsterrat (w300, w400, w700) and Playfair Display (w900) from Google Fonts - Latin Extended charset
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Playfair+Display:900&subset=latin-ext')
