/*------------------------------------*\
    VARIABLES
\*------------------------------------*/

/*
 * FONT
 */
$font-primary = 'Montserrat', sans-serif
$font-secondary = 'Playfair Display', serif

/*
 * COLORS
 */

$color-bg-purple = #221333
$color-bg-light-blue = #24becd
$color-bg-contact = #24b1b3
$color-bg-contact-button = #ef8834
$color-header-button = #f4b11b
$color-font-title = #414141
$color-font-article = #999997
$color-header-bg = #22bdcf
$color-header-button-send = #2591af
$color-header-product-layer = #25afac
$color-header-product-bg = #82f7cc
$color-about-us-bg = #367c96

$anim = .3s

/*
 * MEDIA QUERIES
 */
$xs-up = 'screen and (min-width: 20em)' // 320px
$xs-only = $xs-up + ' and (max-width: 47.938em)'
$sm-up = 'screen and (min-width: 48em)' // 768px
$sm-only = $sm-up + ' and (max-width: 63.938em)'
$md-up = 'screen and (min-width: 64em)' // 1024px
$md-only = $md-up + ' and (max-width: 78.063em)'
$lg-up = 'screen and (min-width: 78.125em)' // 1250px
$lg-only = 'screen and (min-width: 119.938em)'
$xlg-up = 'screen and (min-width: 120em)' // 1920px

$screen-xs =                  320px;
$screen-xs-min =              $screen-xs;
$screen-phone =               $screen-xs-min;

$screen-sm =                  768px;
$screen-sm-min =              $screen-sm;
$screen-tablet =              $screen-sm-min;

$screen-md =                  1024px;
$screen-md-min =              $screen-md;
$screen-desktop =             $screen-md-min;

$screen-lg =                  1250px;
$screen-lg-min =              $screen-lg;
$screen-lg-desktop =          $screen-lg-min;

$screen-xs-max =              ($screen-sm-min - 1);
$screen-sm-max =              ($screen-md-min - 1);
$screen-md-max =              ($screen-lg-min - 1);
/*
/*
 * RADIUS
 */
$radius-default = 3px;

/*
 * GRID
 */
$grid-columns ?=              12
$grid-gutter-width ?=         30px
$grid-float-breakpoint ?=     $screen-sm-min
$grid-float-breakpoint-max ?= ($grid-float-breakpoint - 1)

/*
 * CONTAINER
 */
$container-tablet ?=           (720px + $grid-gutter-width)
$container-sm ?=               $container-tablet

$container-desktop ?=          (940px + $grid-gutter-width)
$container-md ?=               $container-desktop

$container-large-desktop ?=    (970px + $grid-gutter-width)
$container-lg ?=               $container-large-desktop

