.footer
	width 100%
	background-color $color-bg-purple
	padding 126px 0 133px
	font-weight $weight-regular

	@media $screen-md-max
		padding 73px 0
		text-align center

	.container
		flex-direction row

		@media $screen-sm-max
			flex-direction column
			text-align center

	&__col
		color white
		font-size 12px
		line-height 21px
		padding-top 14px

		@media $screen-sm-max
			margin-bottom 16px

	&__link
		color white
		text-decoration none
		border-bottom solid 1px transparent
		transition border 0.2s ease-in-out

		&:hover
			border-bottom solid 1px white

	&__address
		font-style normal
