.header
  background transparent url('../img/background-cover.jpg')
  min-height 95vh
  display flex
  align-items center

  &&
    padding 160px 0 100px
    margin 0

  &__stamp
    text-align center

  &__pretitle
    background-color $color-red
    height 30px
    line-height 30px
    display inline-block
    padding 0 18px
    color #FFFFFF
    text-transform uppercase
    box-shadow 0 -5px 10px rgba(#000000, .25)

  &__title
    display inline-block
    padding 10px 35px
    margin 0 0 24px
    border 10px solid #FFFFFF
    color #FFFFFF
    text-transform uppercase
    text-shadow 0 10px 20px rgba(#000000, .25)
    box-shadow 0 10px 20px rgba(#000000, .25)

  &__description
    max-width 555px
    text-shadow 0 10px 20px rgba(#000000, .25)
    color #FFFFFF
