.hidden
  display none

  @media speech
    display block

.align
  &--left
    &&
      text-align left
  &--center
    &&
      text-align center
  &--right
    &&
      text-align right

.color
  &--white
    &&
      color #FFFFFF

.width
	&--full
		width 100%
